[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
"psycopg2-binary" = "*"
flask = "*"
influxdb = "*"
flask-cors = "*"
click = "*"
colorama = "*"
redis = "*"
apscheduler = "*"
humanize = "*"
apispec = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
kombu = "*"
inotify = "*"
tenacity = "*"
pyyaml = "*"
sentry-sdk = "*"
pendulum = "*"
apispec-webframeworks = "*"

[dev-packages]
harmonia = {editable = true,path = "."}
alembic = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
mypy = "*"
loguru = "*"
better-exceptions = "*"

[pipenv]
allow_prereleases = true
