[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "gitlab-libraries"
url = "https://bink-libs:y6nzdKbo9J6MkEmwvB-i@git.bink.com/api/v4/groups/86/-/packages/pypi/simple"
verify_ssl = true

[packages]
alembic = "*"
harmonia = {editable = true,path = "."}
sqlalchemy = "*"
flask = "*"
flask-cors = "*"
click = "==8.0.4"
redis = "*"
apscheduler = "*"
humanize = "*"
apispec = "*"
marshmallow = "*"
pendulum = "*"
apispec-webframeworks = "*"
rq = "*"
pycryptodome = "*"
azure-storage-blob = "*"
marshmallow-sqlalchemy = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
user-token-store = "*"
paramiko = "*"
kombu = "*"
hashids = "*"
pgpy = "*"
psycopg2-binary = "*"
prometheus-client = "*"
azure-oidc = "*"
soteria = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
freezegun = "*"
mypy = "*"
responses = "*"
flake8 = "*"
black = "==21.6b0"
gunicorn = "*"
prettyprinter = "*"
toml = "*"
ptpython = "*"
isort = {extras = ["pipfile"],version = "*"}
rope = "*"
xenon = "*"
mimesis = "*"
factory-boy = "*"
harmonia-fixtures = "*"
types-certifi = "*"
types-chardet = "*"
types-paramiko = "*"
types-python-dateutil = "*"
types-redis = "*"
types-requests = "*"
types-setuptools = "*"
types-six = "*"

[requires]
python_version = "3.9"
